/* Estilos para los botones */
.button1 {
    -fx-background-color: #91DDCF; /* Color de fondo */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 10px 20px; /* Padding interno */
    -fx-border-radius: 5px; /* Radio de borde */
}

.button2 {
    -fx-background-color: #F19ED2;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

/* Estilo para el contenedor principal */
.root {
    -fx-padding: 20px; /* Padding externo */
    -fx-background-color: #F7F9F2; /* Color de fondo del contenedor */
}

/* Estilos para las filas de la tabla */
.table-row-even {
    -fx-background-color: #91DDCF;
}

.table-row-odd {
    -fx-background-color: #F7F9F2;
}

/* Estilo para el contenedor principal */
.root {
    -fx-padding: 20px;
    -fx-background-color: #F7F9F2;
}
/* Estilo para el TextField */
.custom-text-field {
    -fx-background-color: #F7F9F2; /* Color de fondo */
    -fx-text-fill: #333; /* Color del texto */
    -fx-prompt-text-fill: #91DDCF; /* Color del texto de sugerencia */
    -fx-font-size: 24px; /* Tamaño de la fuente */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-border-color: #91DDCF; /* Color del borde */
    -fx-border-width: 2px; /* Ancho del borde */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-background-radius: 5px; /* Bordes redondeados */
    -fx-font-weight: bold; /* Texto en negrita */
}


.custom-text-field:focused {
    -fx-background-color: #E8C5E5; /* Color de fondo cuando está enfocado */
    -fx-border-color: #F19ED2; /* Color del borde cuando está enfocado */
}


